.card {
    padding: 16px;
    border: 1px solid #655f53;
    cursor: pointer;
    transition: transform 0.2s ease;
    width: 44%;
}

.card:hover {
    transform: translateY(-2px);
}

.title {
    font-size: 20px;
    margin: 0;
    padding-bottom: 8px;
}

.content {
    white-space: pre-line;
    color: #7c7769;
    font-size: 16px;
    margin: 0;
}