:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body[data-theme='light'] {
  --bg-color: #fff;
  --text-color: #000;
  --dark-gray: #655f53;
  --light-gray: #f9f8f6;
}

body[data-theme='dark'] {
  --bg-color: #111;
  --text-color: #fff;
  --dark-gray: #bebab1;
  --light-gray: #eeece7;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: color 0.3s;
}

html,
body,
#root {
  height: auto;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'gnf';
  src: url('/src/assets/fonts/GNF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 32px;
  margin: 0;
  padding-bottom: 16px;
  text-transform: uppercase;
}